.card { width: 140px; height: 70px; display:grid; place-items:center; margin:12px 0; background:#f9fafb; }
.a {border-color: blueviolet; border-style: double; border-width: 1cm;}
.b {border-color: aqua; border-style: solid; border-width: 2ic;}
.c {border-color: chocolate; border-style: dotted; border-width: 4px;}
